<p id="notice"><%= notice %></p>

<h1>Props</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Theme</th>
      <th>Price</th>
      <th>User</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @props.each do |prop| %>
      <div class="row">
        <div class="col"></div>
        <div class="col">

          <div class="card-deck">
            <div class="card", style="width: 20rem;">
              <%= image_tag(prop.picture_url.to_s, class: "picture_icon, card-img-top", style: 'width: 20rem') %>

              <div class="card-body">
                <h4 class="card-title"><%= prop.name %></h4>
                <p class="card-text"><%= prop.theme %></p>
              </div>

              <div class="card-footer">
                <small class="text-muted"><%= time_ago_in_words(prop.created_at) %> ago</small>
              </div>
            </div>

          </div> <!-- end card-deck -->

        </div>
        <div class="col"></div>
      </div>



      <!-- <tr>
        <td><%# prop.name %></td>
        <td><%# prop.theme %></td>
        <td><%# prop.price %></td>
        <td><%# prop.user_id %></td>
        <td><%# image_tag(prop.picture_url.to_s, class: "picture_icon") %></td>

        <% if prop.user_id == current_user.id %>
        <td><%# link_to 'Edit', edit_prop_path(prop) %></td>
        <td><%# link_to 'Destroy', prop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Show', prop %></td>

      </tr> -->
    <% end %>
  </tbody>
</table>

<br>
