<nav class="navbar sticky-top navbar-expand-lg ">

  <div class="container">
    <%# link_to "Get Propped!", prop_path(:id) %>
    <a class="navbar-brand" href="/">
    <%= image_tag("logo2.png",:alt => "logo") %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <% if user_signed_in? %>
          <li class="nav-item">
            <p class="navvy">

              Hi <%= current_user.profile.username %>!

            </p>
          </li>
        <% end %>

        <li class="nav-item">
          <p><%= link_to '', new_prop_path, class:"fa fa-plus-circle fa-3x new-prop-button fa-buttons", style: "color:#FF69B4" %></p>
        </li>

        <li class="nav-item">
          <p><%= link_to "", profiles_path(@user_id), class: "fa fa-user-o fa-3x edit-user-button fa-buttons", style: "color:#FF69B4" %></p>
        </li>

        <li>
          <p>
            <% if user_signed_in? %>
              <%= link_to('', destroy_user_session_path, class: "fa fa-sign-out fa-3x sign-out-button fa-buttons", style: "color:#FF69B4", method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path)  %>
            <% end %>
          </p>
        </li>

      </ul>
    </div>
  </div>
</nav>
